body {
    text-align: center;
}

h1, h2 {
    font-family: 'Orbitron', sans-serif;
}

.middle{
    margin-top: 100px;
}

.instructions{
    margin-top: 5%;
    border: solid 2px black;
}

.img{
    position: relative;
    display: inline-block;
    margin: 1%;
    border: solid 2px blue;
}

.stats{
    width: 250px;
    text-align: center;
    background-color: blue;
    color: white;
    top: 220px;
    font-size: x-large;
    position: absolute;
}