body {
    background-image: url("images/background.jpg");
    text-align: center;
}

h1, h2 {
    font-family: 'Orbitron', sans-serif;
    color: goldenrod;
}

.middle{
    margin-top: 100px;
}

h4{
    font-size: 24px;
}

.instructions{
    margin-top: 5%;
    color: darkorange;
}

.img{
    position: relative;
    display: inline-block;
    margin: 1%;
    border: solid 3px blue;
}

.stats{
    width: 250px;
    text-align: center;
    background-color: blue;
    color: white;
    top: 220px;
    font-size: x-large;
    position: absolute;
}